@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import 'tailwindcss';

@theme {
	--font-cinzel: 'Cinzel', serif;
}

@keyframes pop {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
}

.coin-pop {
	animation: 0.3s ease-out pop;
}
